body{
    background-image: url("giorgio-trovato-OKXwmdbdXkk-unsplash.jpg");
    background-size:cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    
}

h1{
   margin-top: 20px;
   margin-bottom:20px;
}
h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom:30px;
}

button{
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    font-weight:bond;
    width:150px;
    margin-bottom:5px;
    margin-top:5px;
    border-radius:200px;
    cursor:pointer;
    
}

#increment-btn{
    background:rgb(163, 66, 66);
}

#save-btn{
    background:rgb(52, 139, 52);
}